#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0px;
  margin-bottom: 15px;
  margin-top: -10px;
}
#friends-display-link i {
  color: var(--gray-color);
}
.friends-screen__channel {
  border-top: var(--main-border);
  padding-top: 12px;
  margin-bottom: 30px;
}
.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-color);
  font-weight: 500;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 1s;
}
#splash-screen i {
  font-size: 150px;
  color: #3c1e1e;
}
