.settings__setting {
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-between;
}
.settings__setting i {
  opacity: 0.8;
  margin-right: 20px;
}
.settings__setting-column:last-child {
  opacity: 0.5;
  font-weight: 600;
}
.settings-divider {
  position: relative;
  left: -25px;
  width: 100vw;
  height: 1px;
  background-color: var(--gray-color);
  margin: 50px 0px;
}
